 *{
            margin: 0;
            padding: 0;
        }
        body{
            
        }
           
        .navbar{
    height: 75px;
    background-color: rgb(0, 0, 0);
}
.icon{
    width: 350px;
    float: left;
    height: 70px;
    margin-left: 50px;
    margin-top: 10px;
}

.logo{
    color: #fc3ebd;
    font-size: 35px;
    font-family: Arial;
    padding-left: 10px;
    float: left;
    padding-top: 10px;

}

        .menu{
            width: 500px;
    float: left;
    margin-top: 8px;
        }
        ul{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }


ul li{
    list-style: none;
    margin-top: 18px;
    margin-left:80px;
    
}
ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-size: 18px;
}

.content1{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    background:rgb(245, 245, 164);
    width: 100%;
    height: 400px;
    padding: 8px;
    text-shadow: 1px 0.5px 1px white;
    line-height: 65px;
}
h5{
    color: #000000;
    font-size: 50px;
}
p{
    color: #000000;
    font-size: 40px;
}
p2{
    color: #000000;
   font-size: 30px; 
}
.footer{
    background-color: #3ec0fc;
    height: 100px;
    width: 100%;
    margin-top: 60px;
 }

 #foot{
    padding-top: 20px;
    text-align: center;
    color: #000000;
    font-weight: bold;
 }
 #ft{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
 }
 button{
    background-color: #3ec0fc;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    margin-left: 600px;
    height: 50px;
    width:300px;
    font-size: 20px;
    font-style: italic;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0.3px 0px 0px white;
 }