   *{
            margin: 0;
            padding: 0;
        }
        body{
           background-color: #e3f5fc;
        }
        
        .navbar{
            width: 100%;
    border-color: #fff;
    height: 75px;
    background-color: #000;
}
.icon{
    width: 350px;
    float: left;
    height: 70px;
    margin-left: 50px;
    margin-top: 10px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 10px;
    float: left;
    padding-top: 10px;
}

        .menu{
            width: 500px;
    float: left;
    margin-top: 10px;
        }
        ul#co{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }


ul li{
    list-style: none;
    margin-top: 18px;
    font-size: 14px;
    margin-left:80px;
    
}
ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-size: 18px;
}



h1{
    text-align: center;
    color: #f85002;
    font-family: sans-serif;
    font-size:45px;
}


h3{
    font-size: 25px;
}
h4{
    font-size: 25px;

}
#h{
    margin-left: 80px;
    text-decoration: underline;
    color: #ff6600;
}

#cont{
    font-size: 20px;
}

.list{
    font-family: elephant;
}



.footer{
    background-color: #000000;
    height: 80px;
    margin-top: 90px;
 }
 #foot{
    padding-top: 10px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
 }
 #ft{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma ;
 }


 .end{
     margin-left: 400px;
 }








