   *{
            margin: 0;
            padding: 0;
        }
        body{
            background: linear-gradient(to top, rgba(0,0,0,0.5)70%,rgba(0,0,0,0.5)70%), url(pc3.jpg);
        }
        .navbar{
            width: 100%;
    border-color: #fff;
    height: 75px;
    background-color: #000;
}
.icon{
    width: 350px;
    float: left;
    height: 70px;
    margin-left: 50px;
    margin-top: 10px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 10px;
    float: left;
    padding-top: 10px;
}

        .menu{
            width: 500px;
    float: left;
    margin-top: 2px;
        }
        ul{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }


ul li{
    list-style: none;
    margin-top: 28px;
    font-size: 14px;
    margin-left: 140px;
    
}
ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-size: 18px;
}



h1{
    text-align: center;
    color: #f85002;
    font-family: sans-serif;
    font-size:45px;
}

.container{
    margin-top: 10px;
    width: 100%;
    background-color: #40cdf8;
    height: 45px;
    justify-content: center;
}

#marquee{
    color:white; 
    font-size:30px; 
    text-align: middle;
    font-family: sans-serif;
    padding-top: 5px;
}
.img1{
    margin-top: 25px;
    width: 100%;
    height: 300px;
}
#heading{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: red ;
    text-decoration: underline;
    
}
.images1{
    width:1270px;
    height:220px;
    margin-top:10px;
    background-color: #fcf5f5;
    border-radius: 20px;
    margin-left: 45px;
    box-shadow: 6px 6px 35px 3px;
   padding-left: 10px;
}
.img{
    margin-top: 25px;
    width: 100%;
    height: 300px;
}

.images{
    width:1000px;
    height:1000px;
    margin-top:10px;
    background-color: #fdfffa;
    border-radius: 20px;
    margin-left: 45px;
    box-shadow: 6px 6px 35px 3px;
   padding-left: 10px;
}

 #list{
    font-size: 35px;
    color: rgb(219, 43, 43);
    padding-top: 12px;
    text-align: center;
 }
 .footer{
    background-color:black ;
    height: 80px;
 }
 #foot{
    padding-top: 10px;
    text-align: center;
    color: red;
    font-weight: bold;
 }
 #ft{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
 }

 #pc{
    width:990px;
    height:980px;
   margin-top: 8px;
   border-radius: 20px;
     }

     #pp{
         font-size: 22px;
         text-align: center;
     }





